<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_logo">
                    <a class="navbar-brand" href="/">
              <span>
                niki.evgeniev
              </span>
                    </a>
                    <!--                    <p>-->
                    <!--                        dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r-->
                    <!--                    </p>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_links">
                    <h5>
                        Useful Link
                    </h5>
                    <ul>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li>
                                <a th:href="@{/users/register}">
                                    REGISTER
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/users/login}">
                                    LOGIN
                                </a>
                            </li>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <li>
                                <a th:href="@{/users/profile}">
                                    PROFILE
                                </a>
                            </li>
                        </th:block>
                        <li>
                            <a th:href="@{/product/all}">
                                ALL PRODUCT
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/service/service}">
                                SERVICE
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_info">
                    <h5>
                        Contact Us
                    </h5>
                </div>
                <div class="info_contact">
                    <a href="" class="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                Bulgaria - Gorna Oryahovitsa
              </span>
                    </a>
                    <a href="" class="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                CALL : +359 899 52 42 51
              </span>
                    </a>
                    <a href="" class="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                niki.evgeniev@gmail.com
              </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_form ">
                    <h5>
                        Newsletter
                    </h5>
                    <form action="#">
                        <input type="email" placeholder="Enter your email">
                        <button>
                            Subscribe
                        </button>
                    </form>
                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>