<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<!--<body class="sub_page">-->
<body>
<div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
        <div class="img-box">
            <img src="/images/hero-bg.jpg" alt="">
        </div>
    </div>
    <header th:replace="~{fragments/header}"></header>

    <div class="container-fluidErr">
        <h1 class="text-center text-white mt-5">Page not found !!!</h1>
        <img th:src="@{/images/error-500.png}" alt="broken page" class="mx-auto d-block">
        <br/>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
    <!-- footer section -->

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/custom.js"></script>
</div>
</body>

</html>