@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-image: url(../images/hero-bg.jpg);
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 0.5;
}

.container-fluid2 {
    margin-top: 60px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/*.card-body {*/
/*    -ms-flex: 1 1 auto;*/
/*    flex: 1 1 auto;*/
/*    padding: 1.40rem*/
/*}*/

.img-sm {
    width: 150px;
    height: 120px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%

}

/*.dlist-align {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex*/
/*}*/

[class*="dlist-"] {
    margin-bottom: 5px
}

/*.coupon {*/
/*    border-radius: 1px*/
/*}*/

.price {
    font-weight: 600;
    color: #212529
}

/*.btn.btn-out {*/
/*    outline: 1px solid #fff;*/
/*    outline-offset: -5px*/
/*}*/

/*.btn-main {*/
/*    border-radius: 2px;*/
/*    text-transform: capitalize;*/
/*    font-size: 15px;*/
/*    padding: 10px 19px;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    width: 100%*/
/*}*/

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

/*.btn-apply {*/
/*    font-size: 11px*/
/*}*/

.row2 {
    margin-left: auto;
}

.text-secondary {
    margin-bottom: 20px
}
.table th, .table td {
    width: 50%;
}

@media (max-width: 810px) {
    /*.body > div.container-fluid2 > div > aside > div > div:nth-child(1) > table > tbody > tr > td.text-right.d-none.d-md-block > a {*/
    /*    display: block;*/
    /*}*/
    .container-fluid2 {
        max-width: 100%;
    }

    .d-none {
        display: block;
    }

    .card {
        margin-left: auto;
    }

    .row2 {
        /*margin-left: -3%;*/
        /*margin-right: -4%;*/
        margin-left: auto;
    }
    .table th, .table td {
        width: 100%;
        max-width: 100%;
    }

    body > div.container-fluid2 > div > aside > div > div > table > tbody > tr {
        display: flex;
        flex-direction: column;
    }

    body > div.container-fluid2 > div > aside > div > div > table > thead > tr > th:nth-child(even) {
        display: none;
    }
}

@media (min-width: 992px) {
    body > div.container-fluid2 > div > aside {
        max-width: 100%;
    }
}

/*body > div.container-fluid2 > div > aside > div > div:nth-child(1) > table > tbody > tr > td:nth-child(1){*/
/*    width: 500px;*/
/*}*/