<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<!--<body class="sub_page">-->
<body>
<div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
        <div class="img-box">
            <img src="/images/hero-bg.jpg" alt="">
        </div>
    </div>
<header th:replace="~{fragments/header}"></header>
    <!-- service section -->

    <section class="service_section layout_padding ">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    ADMIN PANEL
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box ">
                        <div class="img-box">
                            <img class="card-img-top" src="/images/hero-bg.jpg" alt="Car image">
                        </div>
                        <div class="detail-box">
                            <h6>
                                User Panel
                            </h6>
                            <p>
                                Control from admin panel user role and delete user
                            </p>
                            <a th:href="@{/admin/user}">
                               User Panel
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box ">
                        <div class="img-box">
                            <img class="card-img-top" src="/images/hero-bg.jpg" alt="Car image">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Add Brand and Model
                            </h6>
                            <p>
                                Adding from admin panel Brand and Model
                            </p>
                            <a th:href="@{/admin/brandsAdd}">
                               Add
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box ">
                        <div class="img-box">
                            <img class="card-img-top" src="/images/hero-bg.jpg" alt="Car image">
                        </div>
                        <div class="detail-box">
                            <h6>
                                See all IP who visit website
                            </h6>
                            <p>
                                See all IP who visit website
                            </p>
                            <a th:href="@{/admin/viewIp}">
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->

    <!-- info section -->
    <div th:replace="~{fragments/info}"></div>
    <!-- end info_section -->
    <!-- footer section -->
    <footer th:replace="~{fragments/footer}"></footer>
    <!-- footer section -->
    <div th:replace="~{fragments/headerJs}"></div>
</div>
</body>

</html>