<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SoftUni Project Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/stylelr.css">
    <div th:replace="~{fragments/head}"></div>
</head>
<body>

<!--    <div class="main">-->

<header th:replace="~{fragments/header}"></header>
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/users/register}" class="signup-image-link font-weight-bold">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form
                                th:method="POST"
                                th:action="@{/users/login}"
                                class="register-form" id="login-form">

<!--                            <div th:if="${isLoginError}" class="text-danger font-weight-bold">Error messages</div>-->
<!--                            <div th:if="${isLoginError}" class="text-danger font-weight-bold">Incorrect username or password!</div>-->

<!--                            <div th:if="${#fields.hasErrors('username')}"-->
<!--                                 th:errors="*{username}" class="text-danger"></div>-->
<!--                            <div th:if="${#fields.hasErrors('password')}"-->
<!--                                 th:errors="*{password}" class="text-danger"></div>-->
                            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                                Invalid username or password.
                            </p>

                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input
                                        class="text-left"
                                        type="text"
                                        name="username"
                                        id="username"
                                        th:value="${username}"
                                        placeholder="Your Nickname"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input
                                        class="text-left"
                                        type="password"
                                        name="password"
                                        id="password"
                                        placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
<!--                        <div class="social-login">-->
<!--                            <span class="social-label">Or login with</span>-->
<!--                            <ul class="socials">-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>
<footer th:replace="~{fragments/footer}"></footer>
    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>