<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>SoftUni Project Product Add</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <div th:replace="~{fragments/head}"></div>
</head>

<body>

<header th:replace="~{fragments/header}"></header>


<div class="container">
    <h2 class="text-center text-white">Upload Your Product</h2>
    <form th:method="POST"
          th:action="@{/product/add}"
          th:object="${productDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Brand & Model</label>
                <select id="modelId"
                        th:name="modelId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">Select Brand & Model</option>
                    <optgroup
                            th:each="brand : ${brands}"
                            th:label="${brand.getName()}">
                        <option
                                th:each="model : ${brand.getModels()}"
                                th:text="${model.name()}"
                                th:value="${model.id()}"
                                th:selected="*{modelId} == ${model.id}">
                            Model
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Vechicle model is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="computerType">Traces of use </label>
                <select id="computerType"
                        name="computerType"
                        th:field="*{tracesOfUse}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">Select type</option>
                    <option th:each="type : ${T(com.example.pcproject.models.eunums.TracesOfUse).values()}"
                            th:text="${type}"
                            th:value="${type}">
                        Engine type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="typeToUse">Using for</label>
                <select id="typeToUse"
                        th:field="*{typeToUse}"
                        th:errorclass="is-invalid"
                        name="typeToUse"
                        class="form-control">
                    <option value="">Select what it will be used for</option>
                    <option th:each="typeToUse : ${T(com.example.pcproject.models.eunums.TypeToUse).values()}"
                            th:text="${typeToUse}"
                            th:value="${typeToUse}"
                            th:selected="${typeToUse} == *{typeToUse}"
                    >
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Release Date</label>
                <input id="year"
                       th:field="*{year}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Release Date"/>
                <p th:if="${#fields.hasErrors('year')}"
                   th:errors="*{year}"
                   class="invalid-feedback errors alert alert-danger">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="phoneNumber" class="text-white font-weight-bold">Phone Number</label>
                <input id="phoneNumber"
                       th:field="*{phoneNumber}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Enter your phone number"/>
                <p th:if="${#fields.hasErrors('phoneNumber')}"
                   th:errors="*{phoneNumber}"
                        class="invalid-feedback errors alert alert-danger">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea"
                      class="form-control"
                      rows="8"
                      placeholder=" Example for description ->
                                                CPU : i7 3770k
			                        RAM : 16GB DDR3 Corsair
			                        VGA : Radeon 580
			                        SDD : 512gb Intel
			                        HDD : None
			                        PSU : 750W Seasonic"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url"
                   class="form-control"
                   placeholder="Put product image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Product"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
<div th:replace="~{fragments/headerJs}"></div>

</body>
</html>
