<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="/css/StyleProductAll.css" rel="stylesheet"/>
    <link href="/js/bootstrap.bundle.js" rel="stylesheet"/>
    <th:block th:replace="~{fragments/head}"></th:block>


</head>
<body>
<header th:replace="~{fragments/header}"></header>
<div class="container-fluid2">
    <div class="row2">
        <h1 class="text-center text-secondary font-weight-bold productsInfo"
            th:text="${viewName.toUpperCase()} + ' PRODUCTS'"> </h1>
        <aside class="col-lg-9">
            <div class="card">
                <div th:each="product : ${productAll.getContent()}"
                     th:object="${product}"
                     class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img th:src="*{imageUrl}" class="img-sm" alt="Product img"></div>
                                    <figcaption class="info">
                                        <a th:href="@{/product/{id}(id = *{id})}" class="title text-dark" data-abc="true" th:text="*{summary()}">Tshirt
                                            with round nect</a>
                                        <p class="text-muted small"></p>
                                        <p class="text-muted small" th:text="*{computer}">SIZE: L</p>
                                        <p class="text-muted small" th:text="*{typeToUse}">SIZE: L</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="price-wrap"><var class="price">$
                                    <th:block th:text="*{price}"></th:block>
                                </var>
                                </div>
                            </td>
                            <td class="text-right  d-md-block" sec:authorize="isAuthenticated()">
                                <a href="" class="btn btn-light" data-abc="true"
                                   th:href="@{/product/{id}(id = *{id})}"> Details</a></td>
                            <td class="text-right  d-md-block" sec:authorize="!isAuthenticated()">
                                <a href="" class="btn btn-light" data-abc="true"
                                   th:href="@{/users/login}"> Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
    </div>
    <br>
    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <th:block
                th:if="${viewName == 'LAPTOP'}">
            <div th:replace="~{fragments/pagination::LAPTOP}">></div>
        </th:block>
        <th:block
                th:if="${viewName == 'ALL'}">
            <div th:replace="~{fragments/pagination::ALL}"></div>
        </th:block>
        <th:block
                th:if="${viewName == 'COMPUTER'}">
            <div th:replace="~{fragments/pagination::COMPUTER}"></div>
        </th:block>
    </nav>
</div>
</body>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
<div th:replace="~{fragments/headerJs}"></div>
</html>