<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/Profile.css" rel="stylesheet"/>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div th:object="${viewProfileInfoDTO}"
        class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2 th:text="*{firstName} + ' ' + *{lastName}">
                    John Doe</h2>
                <div class="profile-status">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt class="profile-img img-responsive center-block">
                <div class="profile-label">
                    <span class="label label-danger" th:text="*{userRole}">Admin</span>
                </div>
                <div class="profile-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Super User</span>
                </div>
                <div class="profile-since" th:text="' Member since: ' + *{createOn}">
                    Member since: Jan 2012
                </div>
                <div class="profile-details">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-truck"></i>Orders: <span th:text="*{numberOfProducts}">456</span></li>
                        <li><i class="fa-li fa fa-comment"></i>Posts: <span>828</span></li>
                        <li><i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span></li>
                    </ul>
                </div>
                <div class="profile-message-btn center-block text-center">
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Send message
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                    </a>
                </div>
                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-value">
                                John
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-value">
                                Doe
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Address
                            </div>
                            <div class="profile-user-details-value">
                                10880 Malibu Point,
                                <br> Malibu, Calif., 90265
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="85efeaedebe1eae0c5e7eaeaf1e1e0fcabe6eae8">[email&#160;protected]</a>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Phone number
                            </div>
                            <div class="profile-user-details-value">
                                011 223 344 556 677
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-twitter-square"></i><a href="#">@scjohansson</a></li>
                            <li><i class="fa-li fa fa-linkedin-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-facebook-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-skype"></i><a href="#">Black_widow</a></li>
                            <li><i class="fa-li fa fa-instagram"></i><a href="#">Avenger_Scarlett</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="btn btn-light"><a href="#tab-activity" data-toggle="tab">Activity</a></li>
                        <li class="btn btn-light"><a href="#tab-friends" data-toggle="tab">Friends</a></li>
                        <li class="btn btn-light"><a href="#tab-chat" data-toggle="tab">Chat</a></li>
                    </ul>
                    <div class="tab-content">
                        <h1>TEST</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<footer>
    <div th:replace="~{fragments/info}"></div>
    <div>
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</footer>
<div th:replace="~{fragments/headerJs}"></div>